.board{
  display:flex;
  gap: 20px;
  margin-top: 20px;
}

.column {
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
}

.task {
  border: 1px solid #999;
  margin-bottom: 8px;
  padding: 6px;
}